/* general bootstrap overrides */
body {
	font-family: @regular-font, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	background: @background;
}

a {
	color: #6948a7;
	text-decoration: none !important;

	&:focus, &:hover {
		color: #7b52ca;
	}
}